@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Mulish', sans-serif;
  min-height: 100vh;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
}
nav {
  background: #0163ff;
  color: #fff;
  padding: 1rem 0;
}
section.input {
  padding-top: 100px;
}
h1 {
  padding-top: 10px;
}
h2 {
  text-align: center;
  font-size: 36px;
}
.form_wrap {
  display: flex;
  justify-content: center;
}

.input_wrap {
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  margin-top: 20px;
}
input {
  border: none;
  padding: 10px;
  font-size: 16px;
  min-width: 400px;
  outline: none;
}

button {
  background: #0163ff;
  color: #fff;
  height: 100%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

section.data {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}
.loading {
  display: none;
}
section.data p.def {
  font-size: 20px;
  color: #2d3748;
  line-height: 1.6;
}
.suggested {
  background: #018dff;
  color: #fff;
  padding: 2px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}
.audio {
  margin-top: 20px;
}
.suggested {
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
}

.dmode {
  color: #c1c3c4;
  background-color: #292f33;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  padding: 15px 15px;
  padding-right: 20px;
  outline: none;
}
.dmode:hover {
  background-color: #32373d;
}

.dark {
  color: white;
}
